.titulo3 {
  margin: 9rem 0 3rem 0;
}

.img-circular {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: block;
  margin: auto;
}

.nome {
  margin: 0.5rem;
}

.comentario {
  margin: 0 2.5rem 3rem 2.5rem;
}

@media screen and (min-width: 768px) {
  .comentario {
    margin: 1rem 16.5rem 3rem 16.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .comentarios-flex {
    display: flex;
    justify-content: center;
  }

  .comentario {
    width: 200px;
  }
}
