.imagem-oceano2 {
  height: auto;
  width: 100%;
  background-image: url(/imagens/oceano.png);
  background-size: cover;
  padding: 6rem;
  margin-top: 8rem;
}

.texto-imagem2 {
  position: relative;
  color: #fff;
  width: 380px;
  padding: -3rem;
  margin: 0 -6.2rem 1rem -6.2rem;
}

.input-email-2 {
  position: relative;
  width: 3rem;
  padding: 1rem 7rem;
  margin: 0 1rem;
}

.links-rodape {
  margin: 3.5rem 3rem 0.8rem 3rem;
}

.link {
  margin: 0 0.5rem;
}

.copy {
  margin-top: 0.5rem;
  color: #9da8b5;
  font-size: 0.8rem;
}

.redes-sociais {
  margin-bottom: 6rem;
  padding-left: 1rem;
}

@media screen and (min-width: 768px) {
  .texto-imagem2 {
    position: relative;
    width: 100%;
    margin: 0 auto 1rem auto;
  }

  .input-email-2 {
    position: relative;
    width: 800px;
    margin: 1rem 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .imagem-oceano2 {
    background-image: url(/imagens/oceano.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
  }

  .texto-imagem2 {
    position: relative;
    width: 100%;
    margin-bottom: 2rem;
  }

  .input-email-2 {
    position: relative;
    width: 3rem;
    padding: 1rem 17rem;
    margin: 0 1rem;
  }

  .links-rodape {
    display: flex;
    justify-content: space-around;
  }

  .copy {
    margin-right: 9rem;
  }
}
