.imagem-oceano2 {
  height: auto;
  width: 100%;
  background-image: url(/imagens/oceano.png);
  background-size: cover;
  padding: 6rem;
  margin-top: 8rem;
}

.texto-imagem2 {
  position: relative;
  width: 100%;
  color: #fff;
}

.links-rodape {
  margin: 3.5rem 3rem 0.8rem 3rem;
}

.link {
  margin: 0 0.8rem;
}

.copy {
  color: #9da8b5;
  font-size: 0.8rem;
}

.redes-sociais {
  margin-bottom: 6rem;
  padding-left: 1rem;
}

@media screen and (min-width: 1024px) {
}
