.simbolo1 {
  margin-top: 8rem;
  margin-bottom: 2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.simbolo2 {
  margin-top: 4rem;
  margin-bottom: 2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.simbolo3 {
  margin-top: 4rem;
  margin-bottom: 2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.texto-descricao {
  margin: 0 3rem 3rem 3rem;
}

p {
  color: grey;
}

@media screen and (min-width: 768px) {
  .texto-descricao {
    margin: 0 10rem 3rem 10rem;
    padding: 0 7rem 0 7rem;
  }
}

@media screen and (min-width: 1024px) {
  .icones-flex {
    display: flex;
  }

  .simbolos {
    margin: 5rem auto 1rem auto;
  }

  .texto-descricao {
    margin: 0 6.5rem 3rem 6.5rem;
    padding: 0 4rem 0 4rem;
  }
}
